/**
 * Colors light theme
 */
$AU-color-foreground-text:                     #414141;
$AU-color-foreground-action:                   #007099;
$AU-color-foreground-muted:                    #666666;
$AU-color-foreground-border:                   #858585;
$AU-color-background:                          #ffffff;
$AU-color-background-alt:                      #f0f0f0;

/**
 * Colors dark theme
 */
$AU-colordark-foreground-text:                 #ffffff;
$AU-colordark-background:                      #313131;
$AU-colordark-foreground-action:               #45c2f0;
