/*! Service Manual */

// override the default UI Kit colours, the site theme
@import "base/colors.scss";

// the uikit.. yay!
@import "uikit/uikit.scss";

// base
@import 'base/reset.scss';
@import 'base/breakpoints';
@import "base/structure.scss";
@import "base/variables.scss";
@import "base/document.scss";
@import "base/headlines.scss";
@import 'components/footer.scss';
@import "components/header.scss";
@import "base/header-govau.scss";
@import "base/icons.scss";


// bespoke stuff
@import "components/intro.scss";
@import "components/plaintextblock.scss";
@import "components/textblock.scss";
@import "components/quote.scss";
@import "components/callout.scss";
@import "components/sections.scss";
@import "components/404.scss";
@import "components/childnav.scss";
@import "components/banner.scss";
@import "components/tables.scss";
@import "components/legalterms.scss";
@import "components/category_sections.scss";
@import "components/dss_section.scss";
@import "components/imageblock.scss";
@import "components/imageblockevent.scss";
@import "components/eventblock.scss";
@import "components/category_headline.scss";
@import "components/cards.scss";
@import "components/cards_category.scss";
@import "components/feedback.scss";
@import "components/imagecontentblock.scss";
@import "components/sitemap.scss";
@import "components/topictakeaway.scss";
@import "components/long_description.scss";
@import "components/mainmenu.scss";
@import "components/navigation.scss";
@import "components/homepagebanner.scss";
@import "components/guidesbreadcrumbs.scss";
@import "components/topics_cards.scss";
@import "components/cards_with_intro.scss";
@import "components/imagecontentlandscape.scss";
@import "components/method.scss";

// visual design CSS override
@import "base/vd-tweaks.scss";
@import "components/category_header.scss";
