.servicemanual-related-criteria {
	background-color: #0B5372;

	.servicemanual-related-criteria__list {
		list-style: none;
		padding-left: 0;
	}
}

.servicemanual-related-criteria__footer {
	background-color: #04324D;

	> a {
		color: #fff;
	}
}

.servicemanual-related-criteria__body,
.servicemanual-related-criteria__footer {
	padding: 1em 2em;
}

.servicemanual-related-criteria__title {
	color: #fff;
}

.servicemanual-related-criteria__item > a {
	color: #fff;
}
