.banner {
	color: #fff;
	background: url('/assets/img/dssbanner.png') no-repeat;
	background-color: $uikit-colour-Primary;

	background-position: right;
	padding: uikit-space( 1.5 ) 0 uikit-space( 1.5 ) 0;
	margin-top: -2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include uikit-media( xs ) {
		background-size: cover;
	}

	@include uikit-media( sm ) {
		background-size: contain;
		margin-bottom: uikit-space( 1.25 );
	}

	@include uikit-media( md ) {
		background-size: contain;
	}

	@include uikit-media( lg ) {
		background-size: 55%;
	}

}

.section__section {
	.banner & {
		margin-bottom: uikit-space( 1.5 );
		display: inline-block;
	}
}

.banner__headline {
	color: #fff;
	@include uikit-media( sm ) {
		max-width: 300px;
	}
}



.banner__box {
	width: auto;
	padding: uikit-space( 1 ) uikit-space( 1 ) uikit-space( 1 ) uikit-space( 1 );
	margin: uikit-space( 1.2 ) auto 0 auto;
	background: $uikit-colour-Primary;

	@include uikit-media( sm ) {
		padding: uikit-space( 1 ) uikit-space( 1 ) uikit-space( 0.7 ) uikit-space( 1 );
		margin: uikit-space( 3.1 ) auto 0 auto;
		width: 75%;
	}

	@include uikit-media( md ) {
		width: 40%;
	}
}

.banner__box__headline {
	color: #fff;
	font-weight: bold;
}

.banner__box__link {
	.uikit-body & {
		color: #fff;
		border-bottom: 1px solid $uikit-colour-Link;
		font-size: 1em;
		display: inline;

		&:after {
			height: 0.7em;
			width: 0.8em;
			background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
					<path fill="#fff" d="M128 64l-64 64-16-16 64-64"/>
					<path fill="#fff" d="M128 64l-16 16-64-64L64 0"/>
				</svg>');
			background-repeat: no-repeat;
			top: 1px;
			position: relative;
			margin: 0 0 0 uikit-space( 0.2 );
		}

		&:hover {
			color: $uikit-colour-Text;
		}
	}
}

.banner__description {
	.uikit-body & {
		a {
			color: #fff;
			border-color: #fff;

			&:after {
				background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
						<path fill="#fff" d="M24.002 8C15.155 8 8 15.164 8 24.002v79.996C8 112.845 15.164 120 24.002 120h79.996c8.847 0 16.002-7.164
							16.002-16.002V82.005c0-1.107-.895-2.005-1.994-2.005h-12.012c-1.1 0-1.994.893-1.994 1.995v16.008c0 3.312-2.685 5.997-5.997 5.997H29.997C26.685
							104 24 101.315 24 98.003V29.997C24 26.685 26.685 24 29.997 24h16.008C47.107 24 48 23.105 48 22.006V9.994C48 8.894 47.103 8 45.995 8H24.002z"/>
						<path fill="#fff" d="M127.416.584c-.36-.36-.86-.584-1.41-.584H73.994C72.904 0 72 .893 72 1.994v12.012c0 1.1.892 1.994 1.993 1.994H96L49.41
							62.59c-.777.777-.774 2.046.01 2.83l13.16 13.16c.793.793 2.052.788 2.83.01L112 32v22.007c0 1.09.893 1.993 1.994 1.993h12.012c1.1 0 1.994-.892
							1.994-1.993V1.993c0-.545-.223-1.043-.584-1.405V.584z"/>
					</svg>');
			}

			&:hover,
			&:focus {
				color: $uikit-colour-Text;
			}

			&:focus {
				outline: 1px solid #fff;
			}
		}
	}
}
