.callout__text {
	padding: uikit-space( 1 );
	margin: -1.6em 0 1.6em 0;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
	border-left: 6px solid #1B7991;
	border-radius: 3px;
	padding: 1em;
	border-radius: 3px;

	p:last-child {
		margin-bottom: 0;
	}
}
