.category__header {
	background: $uikit-colour-Primary;
	color: #fff;
	padding: uikit-space( 1.3 ) 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include uikit-media( sm ) {
		background-repeat: no-repeat;
		background-position: right;
		background-size: auto 100%;

		&.category__header--ID-user-research {
			background-image: url('../img/research-header.jpg');
		}

		&.category__header--ID-content-strategy {
			background-image: url('../img/content-header.jpg');
		}

		&.category__header--ID-service-design-delivery-process {
			background-image: url('../img/delivery-header.jpg');
    }
    
		&.category__header--ID-starting-team {
			background-image: url('../img/team-header.jpg');
		}
	}
}
