.guides-category-header {
	@include AU-space(margin-top, 2unit);
	@include AU-space(margin-bottom, 2unit);
	@include AU-media(md) {
		@include AU-space(margin-top, 5unit);
		@include AU-space(margin-bottom, 3unit);
	}
}

.guides-category-header-description {
	color: #6d6d6d;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
}

p.guides-category-header-description {
	@include AU-space(margin-bottom, 2unit);
	@include AU-media(xs) {
		margin-bottom: 0;
	}
}
