.guides-category-header {
	margin-top: 2rem;
	margin-bottom: 2rem;
	@include AU-media( md ) {
		margin-top: 5rem;
		margin-bottom: 3rem;
	}
}

.guides-category-header-description {
	color: #6d6d6d;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
}
