.category-headline {
	background-color: $AU-colordark-background;
	margin-top: -3em;
	margin-bottom: 3em;
	color: #fff;
	font-weight: bold;

	&.category-headline--dark {
		background-color: $AU-colordark-background;
	}
}

.category-headline__title {
	padding: AU-space( 0.25 );
}
