.category-sections {
	background-color: $AU-color-background;
	border-top: 0.5rem solid #eff2f4 ;
	border-bottom: 0.5rem solid #eff2f4 ;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1.5em;
	@media screen and ( max-width: 600px ) {
		display: none;
	}
}

.category-sections__wrapper {
	max-width: 45em;
	margin: 0 auto;
}

.category-sections__list {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: justify;
	font-size: 0.1px;

	&:after {
		content: '';
		width: 100%;
		display: inline-block;
		height: 0.1px;
	}
}

.category-sections__list__item__wrapper {
	display: inline;
}

.category-sections__list__item {
	display: inline-block;
	font-size: 1.6rem;

	.au-body & {
		margin: 0;
	}
}

.category-sections__list__link {
	font-weight: 400;
}

.category-section__headline {
	margin-bottom: 0.5em;
}
