.category__header {
	background: $uikit-colour-Primary;
	color: #fff;
	padding: uikit-space( 1.3 ) 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include uikit-media( sm ) {
		background-image: url('http://via.placeholder.com/1000x500');
		background-repeat: no-repeat;
		background-position: right;
	}
}

.header__logo {
	.category__header & {
		margin-bottom: uikit-space( 0.5 );
		width: 3.8em;

		@include uikit-media( xs ) {
			width: 6.5em;
		}
	}
}

.header__text__headline {
	.category__header & {
		font-size: 1.1em;

		@include uikit-media( xs ) {
			font-size: 1.4em;
		}
	}
}

.category__header__menu {
	height: 20px;
	width: 40px;
	margin-top: 10px;
	display: inline-block;
	float: right;
	background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 17">
		<path fill="#fff" d="M24 16c0 .27-.1.505-.297.703-.198.198-.432.297-.703.297H1c-.27 0-.505-.1-.703-.297C.1 16.505 0 16.27 0
		16v-1c0-.27.1-.505.297-.703C.495 14.1.73 14 1 14h22c.27 0 .505.1.703.297.198.198.297.432.297.703v1zm0-7c0 .27-.1.505-.297.703C23.505 9.9 23.27 10
		23 10H1c-.27 0-.505-.1-.703-.297C.1 9.505 0 9.27 0 9V8c0-.27.1-.505.297-.703C.495 7.1.73 7 1 7h22c.27 0 .505.1.703.297.198.198.297.432.297.703v1zm0-7c0
		.27-.1.505-.297.703C23.505 2.9 23.27 3 23 3H1c-.27 0-.505-.1-.703-.297C.1 2.505 0 2.27 0 2V1C0 .73.1.495.297.297.495.1.73 0 1 0h22c.27 0
		.505.1.703.297C23.9.495 24 .73 24 1v1z"/>
	</svg>');
	background-position: center;
	background-repeat: no-repeat;

	.menu {
		top: 22px;
	    position: relative;
	    font-size: 0.7em;
	    text-align: center;
	    margin: 0 auto;
	    display: block;
	}

	@include uikit-media( xs ) {
		display: none;
	}
}

.category__header__title {
	clear: left;
	float: left;
	font-size: 2.5em;
	line-height: 1.2;
	font-weight: bold;
	margin-bottom: uikit-space( 0.1 );
	position: relative;

	@include uikit-media( sm ) {
		font-size: 3.875em;
	}
}

.category__header__description {
	clear: left;
	float: left;
	font-size: 1em;
	position: relative;
}
