.category-sections {
	background-color: $uikit-colour-Background;
	border-bottom: 1px solid $uikit-colour-Secondary-40;
	margin-top: -2em;
	margin-bottom: 2em;
	padding: 1em;
}

.category-sections__wrapper {
	max-width: 45em;
	margin: 0 auto;
}

.category-sections__list {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: justify;
	font-size: 0.1px;

	&:after {
		content: '';
		width: 100%;
		display: inline-block;
		height: 0.1px;
	}
}

.category-sections__list__item__wrapper {
	display: inline;
}

.category-sections__list__item {
	display: inline-block;
	font-size: 16px;

	.uikit-body & {
		margin: 0;
	}
}

.category-sections__list__link {
	font-weight: bold;

	.uikit-body & {
		color: $uikit-colour-Text-80;
	}
}

.category-section__headline {
	margin-bottom: 0.5em;
}
