.childnav {
	float: none;
	display: inline-block;
	width: 100%;


	@include AU-media( md ) {
		width: auto;
		float: right;
	}

	@include AU-media( lg ) {
		position: absolute;
		top: -1.2rem;
		right: 0;
		z-index: 1;
	}
}

////debug

.childnav pre {
	font-size: 0.5rem;
}

.childnav__debug {
	opacity: 0.3;
}

///////

.guideschildnav__item {
	font-size: 0.8rem;
}

#guides-childnav-accordion .au-accordion__title {
	display: none;
}

#guides-childnav-accordion .au-accordion__body-wrapper {
	border: none;
}

#guides-childnav-accordion {
	border: none;
}

#childnav__button {
	display:block;
	@include AU-media( md ) {
		display: none;
	}

	&:after {
		content: " ";
		display: inline-block;
		float: right;
		position: relative;
		top: 6px;
		@include AU-space( width, 1unit );
		@include AU-space( height, 1unit );
		background-repeat: no-repeat;
		background-image: AU-svguri('
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
			'	<path fill="#{ $AU-colordark-foreground-text }" d="M64 0l64 64-16 16-64-64"/>' +
			'	<path fill="#{ $AU-colordark-foreground-text }" d="M64 0l16 16-64 64L0 64"/>' +
			'</svg>');
		transition: all 0.25s ease-in;
	}

	&.au-accordion--closed:after {
		transform: rotate( -180deg );
		top: 1px;
	}
}

.childnav__container {
	width: 100%;

	@include AU-media( md ) {
		width: 18em;
	}

	@include AU-media( lg ) {
		width: 22em;
	}
}

.childnav__list {
	width: 100%;
	background: #fff;
	list-style: none;

	.au-body & {
		padding-left: 0;
		margin: 0;
	}

	&.is-open {
		height: auto;
	}

	.navigation__item {
		list-style: none;
		padding-left: 0;
		margin-top: 0.4rem;
		margin-bottom: 0.4rem;
		border-bottom: 1px solid #d2d2d2;

		&.navigation__item--has-nested {
			border-bottom: 0;
			padding: 0;
		}

		&:last-child {
			border: 0;
		}
	}

	.navigation__item__anchor {
		border-bottom: 0;
		text-decoration: none;
	}

	.navigation__item__anchor:hover {
		text-decoration: underline;
	}
}

.navigation__item__span {
	color: $AU-color-foreground-text;
	font-weight: bold;
	display: block;
	background-color: $AU-color-background;
}

.navigation__item__anchor,
.navigation__item__span {
	display: block;
	font-size: 90%;
	padding-top: 0rem;
	padding-bottom: 0.2rem;
}

.navigation--level-3 {
	border-top: 1px solid $AU-color-foreground-border;

	& .navigation__item__anchor,
	& .navigation__item__span {
		padding-left: 1.5em;
	}
}

.navigation--level-4 {
	left: 15px;
	position: relative;
}
