.childnav {
	float: none;
	margin-bottom: 2rem;
	display: inline-block;
	width: 100%;


	@include AU-media( md ) {
		width: auto;
		float: right;
		margin-top: 1.2rem;
	}

	@include AU-media( lg ) {
		position: absolute;
		right: 0;
		z-index: 1;
	}
}

.childnav__container {
	width: 100%;

	@include AU-media( md ) {
		width: 18em;
	}
}

.childnav__controls {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 2.5em;
	padding: 0;
	border-radius: 0;
	border: 1px solid $AU-color-foreground-border;
	outline: 0;
	background: $AU-color-background;
	color: $AU-color-foreground-text;
	text-align: left;
	padding-left: 1rem;
	font-size: 0.8rem;

	&:after {
		content: ' ';
		display: inline-block;
		width: 1rem;
		height: 1rem;
		top: 4px;
		margin: 0 1.2rem 0 1.2rem;
		float: right;
		position: relative;
		font-size: 0.8rem;
		transition: transform 0.3s ease;
		background: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 11">
				<path fill="#{ $AU-colordark-background }" d="M8.333 10.584l-7.916-8 1.98-2 7.915 8"/>
				<path fill="#{ $AU-colordark-background }" d="M8.333 10.584l-1.98-2 7.918-8 1.98 2"/>
			</svg>') no-repeat;
	}

	&:hover {
		cursor: pointer;
	}

	@include AU-focus();

	&.is-open {
		&:after {
			transform: rotate( 180deg );
			transform-origin: 9px 6px;
		}
	}

	@include AU-media( md ) {
		display: none;

		&:after {
			display: none;
		}
	}
}

.childnav__list {
	width: 100%;
	background: #fff;
	list-style: none;
	overflow: hidden;

	.au-body & {
		padding-left: 0;
		margin: 0;
	}

	&.is-open {
		height: auto;
	}

	.navigation__item {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		border-bottom: 1px solid $AU-color-foreground-border;

		&.navigation__item--has-nested {
			border-bottom: 0;
			padding: 0;
		}

		&:last-child {
			border: 0;
		}
	}

	.navigation__item__anchor {
		border-bottom: 0;
	}
}

.navigation__item__span {
	color: $AU-color-foreground-text;
	font-weight: bold;
	display: block;
	background-color: $AU-color-background;
}

.navigation__item__anchor,
.navigation__item__span {
	display: block;
	padding: 0.3rem 0.6rem;
}

.navigation--level-3 {
	border-top: 1px solid $AU-color-foreground-border;

	& .navigation__item__anchor,
	& .navigation__item__span {
		padding-left: 1.5em;
	}
}

.navigation--level-4 {
	left: 15px;
	position: relative;
}

.childnav__list {
	.js .childnav .childnav__container > & {
		height: 0;
		display: none;

		@include AU-media( md ) {
			display: block;
			height: auto;
		}
	}

	@include AU-media( sm ) {
		width: 100%;
	}
}

.childnav__list {
	&.is-open {
		.js .childnav .childnav__container > & {
			height: auto;
		}
	}
	.js .childnav .childnav__container > & {
		&.is-opening {
			display: block;
		}
	}
}
