.childnav {
	float: none;
	margin-bottom: 2rem;
	display: inline-block;
	width: 100%;


	@include AU-media( md ) {
		width: auto;
		float: right;
		margin-top: 1.2rem;

	}

	@include AU-media( lg ) {
		position: absolute;
		right: 0;
		z-index: 1;
	}
}

.childnav__container {
	width: 100%;

	@include AU-media( md ) {
		width: 18em;
	}

	@include AU-media( lg ) {
		width: 22em;
	}
}

.childnav__list {
	width: 100%;
	background: #fff;
	list-style: none;

	.au-body & {
		padding-left: 0;
		margin: 0;
	}

	&.is-open {
		height: auto;
	}

	.navigation__item {
		list-style: none;
		padding-left: 0;
		margin-top: 0.4rem;
		margin-bottom: 0.4rem;
		border-bottom: 1px solid #d2d2d2;

		&.navigation__item--has-nested {
			border-bottom: 0;
			padding: 0;
		}

		&:last-child {
			border: 0;
		}
	}

	.navigation__item__anchor {
		border-bottom: 0;
		text-decoration: none;
	}

	.navigation__item__anchor:hover {
		text-decoration: underline;
	}
}

.navigation__item__span {
	color: $AU-color-foreground-text;
	font-weight: bold;
	display: block;
	background-color: $AU-color-background;
}

.navigation__item__anchor,
.navigation__item__span {
	display: block;
	font-size: 90%;
	padding-top: 0rem;
	padding-bottom: 0.2rem;
}

.navigation--level-3 {
	border-top: 1px solid $AU-color-foreground-border;

	& .navigation__item__anchor,
	& .navigation__item__span {
		padding-left: 1.5em;
	}
}

.navigation--level-4 {
	left: 15px;
	position: relative;
}
