.dss-section {
	background-color: $uikit-colour-Background;
	margin-top: -3em;
	margin-bottom: 3em;
	padding: 2em 0;
}

.dss-section__criteria {
	float: none;
	background-color: $uikit-colour-Primary;
	color: #fff;
	width: auto;
	padding: 2em;
	margin: 0 0 1.5em 0;

	@include uikit-media( sm ) {
		float: right;
		width: 17em;
		margin: 4em 0 1em 1em;
	}
}

.dss-section__criteria__headline {
	display: block;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 0.6em;
}

.dss-section__criteria__list {
	list-style: none;
	margin: 0 0 2em 0;

	.uikit-body & {
		padding: 0;
	}
}

.dss-section__criteria__list__item {
	margin-top: 1em;
}

.dss-section__criteria__list__item__digit {
	display: inline-block;
	margin-right: 0.7em;
	font-weight: bold;
}

.dss-section__criteria__list__item__link {
	.uikit-body & {
		color: #fff;
		border-color: #fff;

		&[rel~='external']:after {
			background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
				<path fill="#fff" d="M24.002 8C15.155 8 8 15.164 8 24.002v79.996C8 112.845 15.164 120 24.002 120h79.996c8.847 0 16.002-7.164
					16.002-16.002V82.005c0-1.107-.895-2.005-1.994-2.005h-12.012c-1.1 0-1.994.893-1.994 1.995v16.008c0 3.312-2.685 5.997-5.997 5.997H29.997C26.685
					104 24 101.315 24 98.003V29.997C24 26.685 26.685 24 29.997 24h16.008C47.107 24 48 23.105 48 22.006V9.994C48 8.894 47.103 8 45.995 8H24.002z"/>
				<path fill="#fff" d="M127.416.584c-.36-.36-.86-.584-1.41-.584H73.994C72.904 0 72 .893 72 1.994v12.012c0 1.1.892 1.994 1.993 1.994H96L49.41
					62.59c-.777.777-.774 2.046.01 2.83l13.16 13.16c.793.793 2.052.788 2.83.01L112 32v22.007c0 1.09.893 1.993 1.994 1.993h12.012c1.1 0 1.994-.892
					1.994-1.993V1.993c0-.545-.223-1.043-.584-1.405V.584z"/>
			</svg>');
		}
	}
}

.dss-section__section {
	clear: both;

	@include uikit-media( xs ) {
		clear: none;
	}
}

.dss-section__criteria__cta.uikit-cta-link {
	color: #fff;
	border-color: #fff;
	margin-bottom: 0;

	&:after {
		background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
				<path fill="#fff" d="M128 64l-64 64-16-16 64-64"/>
				<path fill="#fff" d="M128 64l-16 16-64-64L64 0"/>
			</svg>');
	}
}
