.dss-section {
	margin-top: 0;
	padding: 2rem 0 3rem 0;
}

.dss-section--level2 {
	//margin-top: -1rem;
}

.dss-section__criteria {
	float: none;
	border-radius: 0.4rem;
	width: auto;
	padding: 2rem;
	margin: 0 0 1.5rem 0;

	@include AU-media( sm ) {
		float: right;
		width: 17em;
		margin: 4rem 0 1rem 1rem;
	}
}

.dss-section__criteria__headline {
	display: block;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 0.6rem;
}

.dss-section__text {
	max-width: 37rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.dss-section__criteria__list {
	list-style: none;
	margin: 0 0 2rem 0;

	.au-body & {
		padding: 0;
	}
}

.dss-section__criteria__list__item {
	margin-top: 1rem;
}

.dss-section__criteria__list__item__digit {
	display: inline-block;
	margin-right: 0.7rem;
	font-weight: bold;
}

.dss-section__section {
	clear: both;

	@include AU-media( xs ) {
		clear: none;
	}
}
