.eventwrapper {
	margin: uikit-space( 2 ) 0;
}

.eventblock__title {
	border-bottom: 1px solid $uikit-colour-Link;
}

.eventblock__date {
	position: relative;
	top: 29px;
}

.eventblock__location {
	position: relative;
	top: 29px;
}

.eventblock__datewrapper {
	background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
		<path fill="#fff" fill-rule="evenodd" d="M19.25 33H22v2.75h-2.75V33zm0 5.5H22c1.518 0 2.75-1.232 2.75-2.75V33c0-1.518-1.232-2.75-2.75-2.75h-2.75c-1.518
		0-2.75 1.232-2.75 2.75v2.75c0 1.518 1.232 2.75 2.75 2.75zm-11-5.5H11v2.75H8.25V33zm0 5.5H11c1.518 0 2.75-1.232 2.75-2.75V33c0-1.518-1.232-2.75-2.75-2.75H8.25c-1.518
		0-2.75 1.232-2.75 2.75v2.75c0 1.518 1.232 2.75 2.75 2.75zm11-16.5H22v2.75h-2.75V22zm0 5.5H22c1.518 0 2.75-1.232 2.75-2.75V22c0-1.518-1.232-2.75-2.75-2.75h-2.75c-1.518 0-2.75
		1.232-2.75 2.75v2.75c0 1.518 1.232 2.75 2.75 2.75zm-11-5.5H11v2.75H8.25V22zm0 5.5H11c1.518 0 2.75-1.232 2.75-2.75V22c0-1.518-1.232-2.75-2.75-2.75H8.25c-1.518
		0-2.75 1.232-2.75 2.75v2.75c0 1.518 1.232 2.75 2.75 2.75zM38.5 11H2.75V8.25c0-1.518 1.232-2.75 2.75-2.75H11v1.375c0 .76.615 1.375 1.375 1.375s1.375-.615
		1.375-1.375V5.5H27.5v1.375c0 .76.615 1.375 1.375 1.375s1.375-.615 1.375-1.375V5.5h5.5c1.518 0 2.75 1.232 2.75 2.75V11zm0 27.5c0 1.518-1.232 2.75-2.75
		2.75H5.5c-1.518 0-2.75-1.232-2.75-2.75V13.75H38.5V38.5zM35.75 2.75h-5.5V1.375C30.25.615 29.635 0 28.875 0S27.5.616 27.5 1.375V2.75H13.75V1.375C13.75.615
		13.135 0 12.375 0S11 .616 11 1.375V2.75H5.5C2.463 2.75 0 5.213 0 8.25V38.5C0 41.537 2.463 44 5.5 44h30.25c3.037 0 5.5-2.463 5.5-5.5V8.25c0-3.037-2.463-5.5-5.5-5.5zM30.25
		22H33v2.75h-2.75V22zm0 5.5H33c1.518 0 2.75-1.232 2.75-2.75V22c0-1.518-1.232-2.75-2.75-2.75h-2.75c-1.518 0-2.75 1.232-2.75 2.75v2.75c0 1.518 1.232 2.75
		2.75 2.75zm0 5.5H33v2.75h-2.75V33zm0 5.5H33c1.518 0 2.75-1.232 2.75-2.75V33c0-1.518-1.232-2.75-2.75-2.75h-2.75c-1.518 0-2.75 1.232-2.75 2.75v2.75c0 1.518
		1.232 2.75 2.75 2.75z"/>
		</svg>');
	background-size: 120px;
	background-position: left 20px;
	background-repeat: no-repeat;
	padding: 0 0 0 uikit-space( 2.5 );
	height: 80px;
}
