.feedback_container {
	padding: 3.0rem 0 4.4rem 0;
	color: #fff;
	background: #1a1a1a;
	margin-top: 0;
	text-align: center;
}

.feedback_tagline {
	position: relative;
	top: 0.4rem;
	font-size: 2.6rem;
	font-weight: 600;
}

.feedback_item {
	display: inline;
	@media screen and ( max-width: 1000px ) {
		display: block;
	}
}

.feedback_item a {
	color: #4cc3ee;
}

.feedback_item a:hover {
	color: #fff;
}

.feedback_secondary {
	font-size: 1.4rem;
	font-weight: 400;
	margin-left: 2.6rem;
	@media screen and ( max-width: 1000px ) {
		font-size: 1rem;
		margin-left: 0;
		margin-top: 0.5rem;
	}
}
