.feedback_container {
	padding: 3.0rem 0 4rem 0;
	color: $AU-colordark-foreground-text;
	background: $AU-colordark-background-alt-shade;
	margin-top: 3.2rem;
	text-align: center;
}

.helpful__question {
	margin-right: 1rem;
	font-size: 1.2rem;
	display: inline;
}

.feedback_container button {
	margin: 0.5rem;
	display: inline;
}
