.feedback_container {
	padding: 3.0rem 0 4rem 0;
	color: $AU-colordark-foreground-text;
	background: $AU-colordark-background-alt-shade;
	margin-top: 3.2rem;
	text-align: center;
}

.helpful__buttons {
	margin-top: 1rem;
	display: block;
	@include AU-media( xs ) {
		display: inline;
	}
}

.helpful__question {
	font-size: 1.2rem;
	@include AU-media( xs ) {
		margin-right: 1.5rem;
	}
}

.helpful__no__textarea {
	outline: none;
	font-size: 1.2rem;
	padding: 1rem;
	margin-top: 1.2rem;
}

.feedback_container button {
	margin: 0.5rem;
}
