.feedback {
	padding: 1.75rem 0 1rem 0;
	color: #fff;
	background: $AU-colordark-background;

	a {
		color: #fff;
	}
}

.feedback__title {
	color: #fff;
}

.feedback__caption {
	display: block;
	margin: 0 0 AU-space( 1 ) 0;
	max-width: 450px;
}
