$nav_breakpoint: 1010px;

.header {
	@include AU-space( border-bottom, 0.5unit solid $AU-colordark-foreground-action );
	background-color: $AU-colordark-background;

	p {
		color: $AU-colordark-foreground-muted;
	}

	@media screen and ( min-width: $nav_breakpoint ) {
		position: relative;
		z-index: 100;
		box-shadow: 0 0 5px 0 $AU-color-foreground-border;
	}
}

// Remove padding bottom as we have a menu
.au-header {
	padding-bottom: 0;
	position: relative;
	z-index: 300;
}

.au-header.au-header--hero {
	padding-bottom: 0;
}

.au-header__brand .au-header__brand-image {
	position: relative;
	@include AU-space( top, -0.5unit);
	}

.au-btn--dark.icon.icon--search.round--right:hover {
	border-left: 2px solid $AU-color-foreground-border;
}

// Print

.au-header__heading {
	@media print {
		display: none;
	}
}

.header__brand--print {
	display:none;
	@media print {
		display: inline;
	}
	img {
		@media print {
			display: inline;
			width: 5rem;
		}
	}
	strong {
		@media print {
			display: inline;
			margin-left: 1.5rem;
			position: relative;
			top: -1.2rem;
		}
	}
}
