$nav_breakpoint: 1010px;

.header {
	@include AU-space( border-bottom, 0.5unit solid $AU-colordark-foreground-action );
	background-color: $AU-colordark-background;

	p {
		color: $AU-colordark-foreground-muted;
	}

	@media screen and ( min-width: $nav_breakpoint ) {
		position: relative;
		z-index: 100;
		box-shadow: 0 0 5px 0 $AU-color-foreground-border;
	}
}

// Remove padding bottom as we have a menu
.au-header {
	padding-bottom: 0;
	position: relative;
	z-index: 300;
}

.au-header.au-header--hero {
	padding-bottom: 0;
}

.au-header__brand .au-header__brand-image {
	position: relative;
	top: -0.5rem;
}
