.homepagebanner {
	text-align: center;
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.homepagebanner__oddrow {
	background-color: $AU-color-background-shade;
}

.homepagebanner_paragraph_container p {
	max-width: 50%;
	padding-top: 2rem;
	margin: auto;
	font-size: 110%;
	font-weight: lighter;
}
