.homepagebanner {
	text-align: center;
	padding-top: 6rem;
	padding-bottom: 6rem;
	max-width: 100%;
}

.homepagebanner__oddrow {
	background-color: $AU-color-background-shade;
}

.homepagebanner__paragraphcontainer p {
	max-width: 40%;
	padding-top: 2rem;
	margin: auto;
	font-size: 110%;
	font-weight: lighter;
	@media screen and ( max-width: 1000px ) {
		max-width: 85%;
	}
}

.homepagebanner__button {
	margin-top: 1rem;
}

.homepagebanner__container a {
	font-size: 1.3rem;
}
