.home__header {
	background:  #414141;
	color: #fff;
	padding: 1.5rem 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@include AU-media( sm ) {
		margin-bottom: 2rem;
	}
}

.feedback__btn {
	.home__header & {
		float: left;
		clear: both;
		margin-top: 0.5rem;

		@include AU-media( xs ) {
			float: right;
			clear: none;
		}
	}
}

.feedback__btn {
	.home__header & {
		// background: #fff;
		// color: $AU-color-foreground-text;
	}
}

.home__header__logo {
	margin: 0 0 1rem 0;
}

.home__header__logo__svg {
	width: 155px;
	height: 40px;

	@include AU-media( xs ) {
		width: 215px;
		height: 40px;
	}
}
