.eventblock {
	.imageblockevent & {
		margin-bottom: AU-space( 1.25 );
	}
}

.imageblock__content {
	.imageblockevent & {
		width: auto;
		margin:  AU-space( 22.3 ) 0 0 0;
		padding: AU-space( 1.55 ) 12px AU-space( 1.55 ) 12px;

		@include AU-media( sm ) {
			width: 351px;
			margin: 0;
			padding: AU-space( 1.55 ) AU-space( 1.55 ) 0 12px;
		}

	}

	.imageblockevent.imageblock--reverse & {
		@include AU-media( sm ) {
			padding: AU-space( 1.55 ) 12px 0 AU-space( 1.55 );
		}
	}
}


.imageblock__image {
	.imageblockevent & {
		&:after {
			left: 0;
			right: 75%;
		}

		@include AU-media( sm ) {
			background-size: cover;
		}
	}
}

.imageblock__image {
	.imageblockevent.imageblock--reverse & {
		&:after {
			left: 75%;
			right: 0;
		}
	}
}

.imageblock__eventtitle {
	display: block;
}

.imageblock__description {
	display: block;
}
