.imagecontentblock {
	padding: 2rem 0 4.2rem 0;

	&.imagecontentblock--stacktop {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	&.imagecontentblock--stackmiddle {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	&.imagecontentblock--stackbottom {
		padding-top: 0;
	}
}

.imagecontentblock__content {
	height: 100%;

	@include AU-media( md ) {
		padding-right: 1rem;
		margin: auto;
		float: left;
	}

	&.imagecontentblock__content--blue,
	&.imagecontentblock__content--dark {

		a {

			&[rel~='external']:after {
				background-image: uikit-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
					<path fill="#fff" d="M24.002 8C15.155 8 8 15.164 8 24.002v79.996C8 112.845 15.164 120 24.002 120h79.996c8.847 0 16.002-7.164
						16.002-16.002V82.005c0-1.107-.895-2.005-1.994-2.005h-12.012c-1.1 0-1.994.893-1.994 1.995v16.008c0 3.312-2.685 5.997-5.997 5.997H29.997C26.685
						104 24 101.315 24 98.003V29.997C24 26.685 26.685 24 29.997 24h16.008C47.107 24 48 23.105 48 22.006V9.994C48 8.894 47.103 8 45.995 8H24.002z"/>
					<path fill="#fff" d="M127.416.584c-.36-.36-.86-.584-1.41-.584H73.994C72.904 0 72 .893 72 1.994v12.012c0 1.1.892 1.994 1.993 1.994H96L49.41
						62.59c-.777.777-.774 2.046.01 2.83l13.16 13.16c.793.793 2.052.788 2.83.01L112 32v22.007c0 1.09.893 1.993 1.994 1.993h12.012c1.1 0 1.994-.892
						1.994-1.993V1.993c0-.545-.223-1.043-.584-1.405V.584z"/>
				</svg>');
			}
		}
	}
}


.imagecontentblock__image {
	position: relative;
	margin: 2rem 0 1.6rem 0;

	@include AU-media( md ) {
		margin: 0 0 1.2rem 0;
	}

	a {
		border-bottom: 0;

		&:hover {
			background-color: transparent;
		}

		&:focus {
			background-color: transparent;
		}
	}
}

.imagecontentblock__image__img {
	width: 100%;
	display: block;
}

.imagecontentblock__image__caption {
	color: $AU-color-foreground-muted;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 0.875em;
	padding: 0.8rem;
}
