.intro__wrapper {
	position: relative;
}

.intro {
	padding: 2em 0;
	background-color: $uikit-colour-Background;
	margin-bottom: 2em;
	margin-top: 0;

	&.intro--withnav {
		background-color: transparent;
		padding-bottom: 0px;
	}
}

.intro__headline {
	font-size: 62px;
	font-weight: normal;
	line-height: 1.1;
	margin-top: 0;
	color: $uikit-colour-Primary;
}

.intro__subtitle {
	font-size: 28px;
	line-height: 1.2;
}

.intro__text {
	*:last-child {
		margin-bottom: 0;
	}
}

.intro__textwrapper__withnav {
	float: left;
	width: 100%;
}
