.intro__wrapper {
	position: relative;
}

.intro {
	background-color: $AU-color-background;
	margin-bottom: 2rem;

	@include AU-media( xs ) {
		margin-top: 2rem;
	}

	&.intro--withnav {
		background-color: transparent;
		padding-bottom: 0px;
	}
}

.intro__metadata {
	background-color: $AU-color-background;

	dl > dt {
		margin: 0;
		padding: AU-space( 0.5 ) AU-space( 0.5 ) 0 AU-space( 0.5 );

		@include AU-media( sm ) {
			width: 20%;
		}
	}

	dl > dd {
		margin: 0;
	}

	dd, dt {
		display: block;

		@include AU-media( xs ) {
			display: inline-block;
			vertical-align: top;
		}
	}

	dd {
		padding: 0.75em;

		@include AU-media( sm ) {
			width: 70%;
		}
	}
}

.intro__metadata--intro {
	background-color: #fff;
	margin-top: 2em;

	.intro--withnav & {
		background-color: #f4f8fa;
	}
}

.intro__headline {
	font-size: 62px;
	font-weight: normal;
	line-height: 1.1;
	margin-top: 0;
	color: $AU-color-foreground-text;
}

.intro__subtitle {
	font-size: 28px;
	line-height: 1.2;
}

.intro__text {
	// *:last-child {
	// 	margin-bottom: 0;
	// }
	margin-top:1rem;
}

.intro__textwrapper__withnav {
	float: left;
	width: 100%;
}
