.method {
	margin-bottom: 3rem;
}

.methodsummary {
	background-color: $AU-color-background-alt;
	margin-top: 2rem;
	margin-bottom: 2.2rem;
}

.methodsummary__container {
	padding: 1.5rem;
}

.methodsummary__table {
	text-align: left;
	th {
		width: 8rem;
	}
}
