.method {
	@include AU-space( margin-bottom, 3unit );
}

.methodsummary {
	background-color: $AU-color-background-alt;
	@include AU-space( margin-top, 2unit );
	@include AU-space( margin-bottom, 2.2unit );
}

.methodsummary__container {
	@include AU-space( padding, 1.5unit );
}

.methodsummary__table {
	text-align: left;
	th {
		@include AU-space( width, 8unit );
		font-weight: 400;
	}
	tr {
		font-weight: bold;
	}
}
