.searchresults__list {
	margin-bottom: 5rem;
	@include AU-media( xs ) {
		margin-top: 1rem;
	}
}

.searchresults__list ul {
	margin-left: -2.4rem;
}

.search__button {
	&:before {
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">' +
				'<path fill="#{ $AU-colordark-foreground-text }" d="M11.0769231,6.76923077 C11.0769231,5.58333333 10.6554487,4.56891026 9.8125,3.72596154 C8.96955128,2.88301282 7.95512821,2.46153846 6.76923077,2.46153846 C5.58333333,2.46153846 4.56891026,2.88301282 3.72596154,3.72596154 C2.88301282,4.56891026 2.46153846,5.58333333 2.46153846,6.76923077 C2.46153846,7.95512821 2.88301282,8.96955128 3.72596154,9.8125 C4.56891026,10.6554487 5.58333333,11.0769231 6.76923077,11.0769231 C7.95512821,11.0769231 8.96955128,10.6554487 9.8125,9.8125 C10.6554487,8.96955128 11.0769231,7.95512821 11.0769231,6.76923077 Z M16,14.7692308 C16,15.1025641 15.8782051,15.3910256 15.6346154,15.6346154 C15.3910256,15.8782051 15.1025641,16 14.7692308,16 C14.4230769,16 14.1346154,15.8782051 13.9038462,15.6346154 L10.6057692,12.3461538 C9.45833333,13.1410256 8.17948718,13.5384615 6.76923077,13.5384615 C5.8525641,13.5384615 4.97596154,13.3605769 4.13942308,13.0048077 C3.30288462,12.6490385 2.58173077,12.1682692 1.97596154,11.5625 C1.37019231,10.9567308 0.889423077,10.2355769 0.533653846,9.39903846 C0.177884615,8.5625 0,7.68589744 0,6.76923077 C0,5.8525641 0.177884615,4.97596154 0.533653846,4.13942308 C0.889423077,3.30288462 1.37019231,2.58173077 1.97596154,1.97596154 C2.58173077,1.37019231 3.30288462,0.889423077 4.13942308,0.533653846 C4.97596154,0.177884615 5.8525641,0 6.76923077,0 C7.68589744,0 8.5625,0.177884615 9.39903846,0.533653846 C10.2355769,0.889423077 10.9567308,1.37019231 11.5625,1.97596154 C12.1682692,2.58173077 12.6490385,3.30288462 13.0048077,4.13942308 C13.3605769,4.97596154 13.5384615,5.8525641 13.5384615,6.76923077 C13.5384615,8.17948718 13.1410256,9.45833333 12.3461538,10.6057692 L15.6442308,13.9038462 C15.8814103,14.1410256 16,14.4294872 16,14.7692308 Z"/>' +
				'</svg>');
	}
}
