.sections {
	.uikit-inpage-nav-links__heading {
		font-size: 16px;
		color: $uikit-colour-Primary;
	}
}

.uikit-inpage-nav-links {
	.sections & {
		margin: 1.2em 0 3.2em 0;
	}
}

.section__section {
	display: block;
	text-transform: uppercase;
	border-left: 2px solid $uikit-colour-Primary;
	padding-left: 0.5em;
	margin-top: 0;
	margin-bottom: uikit-space( 0.75 );
	font-weight: bold;
	line-height: 1.2;
}
