.sitemap {
	margin-top: 4rem;
	margin-bottom: 7rem;

	.navigation--level-3 {
		border-top: 0;

		& .navigation__item__anchor,
		& .navigation__item__span {
			padding-left: 1em;
		}
	}

	&.au-body {
		ul,
		li {
			margin: 0;
		}
	}
}

.sitemapnav__wrapper {
	margin-top: 3rem;
}
