.takeawayPrevCard {
	background-color: #f7f7f7;
}

.takeawayNextCard {
	background-color: #f7f7f7;
	text-align: right;
}

.takeawayPaginator {
	margin-top: 20px;
	margin-bottom: 40px;
}

.centerTakeaway {
	text-align: center;
}

.takeawayWhattodoLink {
	padding-top: 20px;
}
