.takeawayPrevCard {
	background-color: #f7f7f7;
}

.takeawayNextCard {
	background-color: #f7f7f7;
	text-align: right;
}

.takeawayOutput {
	margin-left: -8px;
}

.takeawayCardContent {
	padding-top: 16px;
	padding-left: 12px;
	padding-right: 12px;
}

.takeawayPaginator {
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 90%;
}

.takeawayPaginator a, .takeawayArrows {
	color: #007099;
}

.takeawayGray {
	color: #666666;
	position: relative;
	top: -12px;
}

.centerTakeaway {
	text-align: center;
}

.takeawayWhattodoLink {
	padding-top: 20px;
}
