table {
  margin-bottom: uikit-space( 0.5 );
}

.content-table {
  width: 100%;
  border-collapse: collapse;

  tr:nth-child(even) {
	  background-color: $uikit-colour-Link-5;
  }

  td,
  th {
    padding: uikit-space( 0.5 );
    text-align: left;
	border-bottom: solid 1px $uikit-colour-Border-20;

    @include uikit-media( sm ) {
      padding: uikit-space( 0.5 );
      font-size: initial;
    }
  }

	th {
		h3 {
			padding: 0;
			margin: 0;
		}
	}
  thead {
    border-bottom: solid 2px $uikit-colour-Border;
  }
}
