table {
	margin-bottom: AU-space( 0.5 );
}

.template-table {
	margin-bottom: AU-space( 1.75 );
}

.content-table {
	width: 100%;
	border-collapse: collapse;

	tr:nth-child(even) {
		background-color: $AU-color-background-shade;
	}

	td {
		p:last-child {
			margin-bottom: 0px;
		}
	}

	th {
		text-align: left;
	}

	td,
	th {
		padding: AU-space( 0.5 );
		border-bottom: solid 1px $AU-color-foreground-border;

	@include AU-media( sm ) {
		padding: AU-space( 0.5 );
		font-size: initial;
	}
}

	th {
		h4 {
			padding: 0;
			margin: 0;
		}
	}

	thead {
		border-bottom: solid 2px $AU-color-foreground-border;
	}
}
