.textblock {
	overflow: hidden;
	margin-bottom: 2em;
}

.textblock--top {
	margin-bottom: 0;
}

.textblock--middle {
	margin-bottom: 0;
}


.textblock__text {
	@media (min-width: 970px) {
		float: left;
		width: 100%;
	}

	div {
		> ol {
		   counter-reset: large-bullets;
		   list-style: none;
		   padding-left: 2.5em;

		 >  li {
			   position: relative;
			   margin-bottom: 1em;

			   &:after {
				   content: counter( large-bullets );
				   counter-increment: large-bullets;
				   position: absolute;
				   left: -2.8em;
				   top: 0;
				   color: #fff;
				   font-size: 14px;
				   background-color: $AU-colordark-background;
				   border-radius: 50%;
				   text-align: center;
				   width: 1.6em;
				   height: 1.6em;
			   }
		   }
	   }
	}
}
