.topic-takeaway-list ul {
	list-style:none;
  padding-left: 1em;
	position: relative;
	left: -22px;
}

.topic-takeaway-list ul li {
  &:before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-image: url('/assets/img/governing-content/tick.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:0.5em;
  }
}

.topic-takeaway-previous-card {
	background-color: #f7f7f7;
}

.topic-takeaway-next-card {
	background-color: #f7f7f7;
	text-align: right;
}

.topic-takeaway-output {
	margin-left: -8px;
}

.topic-takeaway-card-content {
	padding-top: 24px;
	padding-left: 12px;
	padding-right: 12px;
}

.topic-takeaway-paginator {
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 90%;
}

.topic-takeaway-paginator a, .topic-takeaway-arrows {
	color: #007099;
}

.topic-takeaway-gray {
	color: #666666;
	position: relative;
	top: -14px;
	font-weight: lighter;
}
