.topicscards {
	padding: 2rem 0;
}

.topicscards__intro {
	position: relative;
	top: 1.5rem;
}

.topicscards__tagline {
	margin-top: 1.5rem;
	max-width: 90%;
	font-size: 0.9rem;
	font-weight: 300;
}

h2.topicscards__headline {
	max-width: 90%;
	font-weight: 500;
}

.topicscards__viewall {
	position: relative;
	top: 8rem;
}
