h2.topics__header {
	@include AU-space( margin-top, 2unit );
	@include AU-space( margin-bottom, -2unit );
	@include AU-media( md ) {
		@include AU-space( margin-top, 5unit );
		@include AU-space( margin-bottom, 0unit );
	}
}

.topicscards {
	@include AU-space( padding-top, 3unit );
}

.topicscards__intro {
	@include AU-space( margin-bottom, 2unit );
	position: relative;
	@include AU-space( top, 1.5unit );
}

.topicscards__tagline {
	@include AU-space( margin-top, 1.5unit );
	@include AU-media( md ) {
		@include AU-space( max-width , 90% );
	}
}

h2.topicscards__headline {
	@include AU-space( max-width , 90% );
}

.topicscards__viewall {
	position: relative;
	@include AU-space( top, -2unit );
	@include AU-space( margin-bottom, 1unit );
	text-align: center;
	@include AU-space( font-size, 1.1unit );
	font-weight: bold;
	@include AU-media( md ) {
		@include AU-space( top, 8unit );
		text-align: left;
	}
}
