h2.topics__header {
	margin-top: 2rem;
	margin-bottom: -2rem;
	@include AU-media( md ) {
		margin-top: 5rem;
		margin-bottom: 0;
	}
}

.topicscards {
	padding-top: 3rem;
}

.topicscards__intro {
	margin-bottom: 2rem;
	position: relative;
	top: 1.5rem;
}

.topicscards__tagline {
	margin-top: 1.5rem;
	font-weight: 300;
	@include AU-media( md ) {
		max-width: 90%;
	}
}

h2.topicscards__headline {
	max-width: 90%;
	font-weight: 500;
}

.topicscards__viewall {
	position: relative;
	top: -2rem;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
	@include AU-media( md ) {
		top: 8rem;
		text-align: left;
	}
}
